html{
    background-color: #abcdef;
    background-image: url('../images/cloneBoi.jpg');
 }

h2{
    font-family: cursive; 
}

div{
    /* background-color: chartreuse; */
    
}

table{
    border: 2px black solid;
    color: rgb(255, 153, 51, 0.8);
}

a{
    margin-left: 50px;
}
